# LAB-2: Exploratory Data Analysis (EDA) Lab Report – UPC Campus Nord data


**Exploratory Data Analysis (EDA)** is the process of **analyzing and investigating datasets** to summarize their main characteristics through **statistical graphics** and **data visualization techniques**.  


It is a critical first step in any data science project to:

- Understand the structure and content of the data  
- Identify patterns, trends, and relationships  
- Spot anomalies or data quality issues  
- Prepare the data for further modeling or hypothesis testing  


<mark>**EDA is not just about numbers, it’s about telling the story behind the data.**</mark>


---

The following images provides a complete steps of EDA. Not all of them have to be conducted. 

<img src="Figures/eda.jpg" alt="EDA steps" width="800">


---


### Objective of this Lab

Conduct an Exploratory Data Analysis on the dataset   `Campus_DiagonalNordUPC_data.xlsx`, which contains information about the **consumption of electricity, water resources, etc** of the **UPC Diagonal Nord Campus**.


The **goal** is to:
- Extract insights from the data  
- Identify patterns or anomalies  
- Visualize findings in a clear, meaningful way  

You are free to choose your **visualization style** and the **story you want to tell** through your analysis.  


*Tip:* Use this Jupyter Notebook to document your process. Combine **text (Markdown)**, **code**, and **visualizations** to build a clear and insightful narrative.

---


### Suggested Steps

1) Data Loading and Initial Exploration

- Load the dataset and display its structure (columns, data types, missing values, etc.)
    

2. Data Cleaning
- Handle missing, inconsistent, or incorrect data if necessary.
- Create new relevant variables or filters when useful
    

3. Exploratory Analysis

- Compute summary statistics and explore distributions. (week/weekends, monthly distributions, seasonal, etc).
- Look for correlations or relationships between variables.
- Detect and analyze anomalies or outliers and discuss possible causes

4. Data Visualization
 - Use appropriate plots to represent your findings clearly and effectively:
 
        - Line plots for time series
        - Bar charts for comparisons
        - Heatmaps for correlations
        - Boxplots for distributions

5. Insights and Conclusions
- Summarize your key findings
- Reflect on the main takeaways from your analysis

In [5]:
import pandas as pd

# read the dataset
data = pd.read_excel('Data/Campus_DiagonalNordUPC_data.xlsx')
data.shape
data.head()

,Date,Hour,Electricity Campus DN [kWh],Water consumption Campus DN [m3],Temperature exterior [Celsius],Gas [kwh]
0,2024-09-01 00:00:00,2024-09-01 00:00:00,741,0.797139,22.7,0.0
1,2024-09-01 01:00:00,2024-09-01 01:00:00,734,0.793457,22.5,0.0
2,2024-09-01 02:00:00,2024-09-01 02:00:00,735,0.768367,22.4,0.0
3,2024-09-01 03:00:00,2024-09-01 03:00:00,732,0.767533,22.1,0.0
4,2024-09-01 04:00:00,2024-09-01 04:00:00,729,0.784900,21.4,0.0

In [17]:
# write your code here 
data.dtypes
data['Hour'] = data['Date'].dt.hour
data

,Date,Hour,Electricity Campus DN [kWh],Water consumption Campus DN [m3],Temperature exterior [Celsius],Gas [kwh]
0,2024-09-01 00:00:00,0,741,0.797139,22.7,0.0
1,2024-09-01 01:00:00,1,734,0.793457,22.5,0.0
2,2024-09-01 02:00:00,2,735,0.768367,22.4,0.0
3,2024-09-01 03:00:00,3,732,0.767533,22.1,0.0
4,2024-09-01 04:00:00,4,729,0.784900,21.4,0.0
...,...,...,...,...,...,...
9788,2025-10-15 19:00:00,19,1413,2.195682,18.2,0.0
9789,2025-10-15 20:00:00,20,1283,4.113499,18.0,0.0
9790,2025-10-15 21:00:00,21,1084,7.020899,17.9,0.0
9791,2025-10-15 22:00:00,22,893,2.743192,16.9,0.0
9792,2025-10-15 23:00:00,23,746,1.010154,17.2,0.0

In [ ]:
# write your code here